<div class="l-container">
  <%= render "shared/section", title: "物件一覧" do %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th><%= WorkProperty.human_attribute_name(:name) %></th>
            <th><%= WorkProperty.human_attribute_name(:code) %></th>
            <th><%= WorkProperty.human_attribute_name(:active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @work_properties.each do |property| %>
            <tr>
              <td><%= property.name %></td>
              <td><%= property.code %></td>
              <td><input type="checkbox" onclick="return false;" <%= 'checked' if property.active %> ></td>
              <td>
                <div>
                  <%= link_to '編集', edit_client_admin_work_property_path(property), class: 'btn-default rounded sm' %>
                  <%= link_to '削除', client_admin_work_property_path(property), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-danger rounded sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to '新規作成', new_client_admin_work_property_path, class: 'btn-primary rounded' %>
  <% end %>
</div>
