<div class="l-container">
  <%= render "shared/section", title: "物件一覧" do %>
    <table border=1>
      <thead>
        <tr>
          <th>ID</th>
          <th><%= WorkProperty.human_attribute_name(:name) %></th>
          <th><%= WorkProperty.human_attribute_name(:code) %></th>
          <th><%= WorkProperty.human_attribute_name(:active) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @work_properties.each do |property| %>
          <tr>
            <td><%= property.id %></td>
            <td><%= property.name %></td>
            <td><%= property.code %></td>
            <td><%= property.active %></td>
            <td>
              <div>
                <%= link_to '編集', edit_client_admin_work_property_path(property) %>
                <%= link_to '削除', client_admin_work_property_path(property), method: :delete, data: { confirm: '本当に削除しますか？' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '新規作成', new_client_admin_work_property_path %>
  <% end %>
</div>
