<div class="l-container">
  <%= render "shared/section", title: "作業一覧" do %>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th><%= WorkContent.human_attribute_name(:name) %></th>
            <th><%= WorkContent.human_attribute_name(:name_kana) %></th>
            <th><%= WorkContent.human_attribute_name(:active) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @work_contents.each do |content| %>
            <tr>
              <td><%= content.name %></td>
              <td><%= content.name_kana %></td>
              <td><%= content.active %></td>
              <td>
                <div>
                  <%= link_to '編集', edit_client_admin_work_content_path(content), class: 'btn-default rounded sm' %>
                  <%= link_to '削除', client_admin_work_content_path(content), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn-danger rounded sm' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to '新規作成', new_client_admin_work_content_path, class: 'btn-primary rounded' %>
  <% end %>
</div>
