<div class="l-container">
  <%= render "shared/section", title: "クライアント管理者画面" do %>
    <ul class="iconic-list">
      <li class="iconic-list-item">
        <%= link_to client_admin_work_properties_path, class: "iconic-list-anchor" do %>
          <div class="icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="body">
            物件一覧
          </div>
          <i class="fas fa-chevron-right arrow-icon"></i>
        <% end %>
      </li>

      <li class="iconic-list-item">
        <%= link_to client_admin_work_contents_path, class: "iconic-list-anchor" do %>
          <div class="icon">
            <i class="fas fa-wrench"></i>
          </div>
          <div class="body">
            作業一覧
          </div>
          <i class="fas fa-chevron-right arrow-icon"></i>
        <% end %>
      </li>

      <li class="iconic-list-item">
        <%= link_to client_admin_departments_path, class: "iconic-list-anchor" do %>
          <div class="icon">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="body">
            部署一覧
          </div>
          <i class="fas fa-chevron-right arrow-icon"></i>
        <% end %>
      </li>

      <li class="iconic-list-item">
        <%= link_to client_admin_users_path, class: "iconic-list-anchor" do %>
          <div class="icon">
            <i class="fas fa-id-card"></i>
          </div>
          <div class="body">
            ユーザ一覧
          </div>
          <i class="fas fa-chevron-right arrow-icon"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
  <%= link_to 'ログアウト',session_path, method: :delete, class: 'btn-danger rounded' %>
</div>
