<div class="l-container">
  <div class="heading-tab">
    <div class="tab-item <%= 'active' if params[:filter] == 'me' %>">
      <%= link_to "あなたへ", arigatonas_path(filter: :me), class: 'tab-anchor' %>
    </div>
    <div class="tab-item <%= 'active' if params[:filter].blank? %>">
      <%= link_to "みんなの", arigatonas_path(filter: nil), class: 'tab-anchor' %>
    </div>
  </div>

  <div class="arigatona-stack">
    <% @arigatonas.each do |arigatona| %>
      <div class="arigatona-item">
        <div class="date"><%= l arigatona.created_at, format: :long %></div>
        <div class="from-to">
          <%= arigatona.daily_report.user.name %>
          さんから
          <%= arigatona.user.name %>
          さんへ
        </div>
        <div class="comment">
          <%= arigatona.comment %>
        </div>
      </div>
    <% end %>
  </div>
</div>
