<!DOCTYPE html>
<html>
  <head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>ChaChaCha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="l-main">
      <%= render "layouts/header" %>
      <div class="l-content">
        <%= yield %>
      </div>
      <%= render "layouts/sticky_navigation" unless current_user&.system_admin? %>
    </div>
  </body>
</html>
